
<div class="w-full md:w-1/2 m-10 mx-auto">
     <div class="p-8 mx-auto rounded-lg shadow-lg bg-purple-lighter">
                            <h3 class="mb-2">Reset Your Password.</h3>
                            <p class="mb-2"></p>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="font-bold leading-loose text-grey-darker text-sm uppercase block">
    <%= f.label :email, class:"font-bold leading-loose text-grey-darker text-sm uppercase block mb-2 rounded-sm" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-grey-lighter block rounded-sm text-black rounded py-3 px-4 focus:outline-none w-full border-none" %>
    <%= f.submit"Send me reset password instructions"%>
  </div>
<% end %>

</div>
</div>

