<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @coupon.code %>
</p>

<p>
  <strong>Discount percent:</strong>
  <%= @coupon.discount_percent %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @coupon.expires_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coupon.description %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
