<!--Title Section-->
            <div class="items-center px-8 flex pt-12 bg-grey-lighter flex-wrap">
                <div class="md:w-1/2 w-full p-6 md:pt-8 mb-4 text-center justify-left ">
                    <h1 class="text-4xl">Sign In</h1>
               <div class="border-t-2 my-4 mx-32">
                        <div class="w-full flex items-center justify-center my-6">
                            <ul class="list-reset">
                                <li class="font-bold text-center">Vertical Spanish</li>
                                <li><a href="mailto:hello@verticalspanish.com" class="text-grey-darkest no-underline">hello@verticalspanish.com</a></li>
                            </ul>
                           
                            </div>  
                            </div>
                            <div class="flex mb-4">
                                <div class="w-1/6 mx-2"></div>
                                <div class="w-1/6 mx-2"></div>
                                <a href="https://wa.me/573052977855" class="w-1/6 mx-2"><img href="https://wa.me/573052977855" class="w-8" src="/assets/icons/social-media/whatsapp.png"></a>
                                <a href="http://m.me/verticalspanish" class="w-1/6 mx-2"><img class="w-8" src="/assets/icons/social-media/messenger.png"></a>
                                <div class="w-1/6 mx-2"></div>
                                <div class="w-1/6 mx-2"></div>
                        </div>
                   
                </div>
                    <div class="w-full md:w-1/2 mb-10">
                        <div class="p-8 mx-auto rounded-lg shadow-lg bg-purple-lighter">
                            <h3 class="mb-2">Sign In</h3>
                            <p class="mb-4"></p>
<div class="container mx-autor"
<h2 class="heading text-4xl font-bold pt-4 mb-8">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>



<%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>




<div class="w-full max-w-xs">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
      <p class="text-red text-xs italic">Please choose a password.</p>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-purple hover:bg-purple-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-purple hover:text-purple-darker" href="#">
        Forgot Password?
      </a>
    </div>
  </form>
  <p class="text-center text-grey text-xs">
    ©2019 Acme Corp. All rights reserved.
  </p>
</div>