<!DOCTYPE html>
<html>
<head>
  <title>VerticalPlatform</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%= render 'layouts/header' %>

<body>
  <%= yield %>
</body>

 <%= render 'layouts/footer' %>
</html>
