<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
      <title>Vertical Spanish</title>
      <%= csrf_meta_tags %>
      <%= javascript_include_tag 'application', 'https://js.stripe.com/v3/' %>
      <%= tag :meta, name: "stripe-key", content: Rails.application.secrets.stripe_publish %>
      <%= favicon_link_tag asset_path('favicon.ico') %>
      <script src="https://wchat.freshchat.com/js/widget.js"></script>
      
    
   
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134561398-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-134561398-1');
      </script>
    </head>
    

    <!--Tailwind CSS / Vue.js CDN-->
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <!--Tailwind CSS / Vue.js CDN-->
    
    <% stylesheet_link_tag 'scaffold' %>
    
  
    <%= render 'layouts/header_2' %>
    <body class="font-sans">
   <% flash.each do |type, message| %>
          <% if type == "alert" %>
            <div class="bg-red-light">
              <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
            </div>
          <% end %>
          <% if type == "notice" %>
            <div class="bg-green-light">
              <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
            </div>
          <% end %>
      <% end %>

      <%= yield %>
    </body>
            <script>
          window.fcWidget.init({
            token: "6cb2584e-119d-4853-96a8-12456a2cabef",
            host: "https://wchat.freshchat.com"
            });
        </script>

    
      <%= render 'layouts/footer' %>

      
</html>
